TOKEN=YOUR_BOT_TOKEN
MONGO_URI=mongodb://localhost:27017/marvelprime
PREFIX=.
NO_PREFIX=false
NO_PREFIX_USERS=
REGISTER_SLASH=true
GUILD_ID=
OWNER_IDS=
LOG_CATEGORY_NAME=xieron-logs
LOG_WEBHOOK_NAME=Xieron Logs
LOG_WEBHOOK_AVATAR_URL=
LOG_EMBED_BANNER_URL=
